.hero {
    background: url(../images/imga3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;
    width: 100%;
    height: 400px;

}

.images img {
    width: 100%;
    height: 400px;
}

@media (max-width: 768px){
     .hero{
      width: 100%;
     height: 500px;
    }
}